html, body {
    margin: 0;
    padding: 0;
    outline: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background-color: #f5f5f5;
    color: #616161;
}

/* Header hamburger and menu properities*/
#home .menu {
    /*side menu*/
    position: fixed;
    left: -225px;
    width: 225px;
    height: 100%;
    top: 0;
    z-index: 10;
    text-align: left;
    background: #06A763; }
    #home .menu a {
      /*menu links*/
      margin-left: 30px;
      margin-right: 30px;
      color: #616161;
      display: block;
      font-size: 12px;
      font-weight: 700;
      line-height: 40px;
      letter-spacing: .1em;
      text-transform: uppercase; }
      #home .menu a:hover {
        /*link option hover color*/
        color: #1976D2; }
      #home .menu a:active {
        /*option active color*/
        color: #1976D2; }
    #home .menu i {
      /*menu icon*/
      padding: 7px; }
    #home .menu .menu-wrap {
      /*menu warp class*/
      position: absolute;
      top: 0;
      left: 0;
      background: #f5f5f5;
      width: 225px;
      height: 100%;
      overflow-y: auto;
      padding-top: 14px; }
    #home .menu .logo-flat {
      /*menu logo*/
      height: 200px;
      margin-top: -14px;
      background: #06A763; }
      #home .menu .logo-flat img {
        /*logo image*/
        width: 100%;
        padding: 30px 44px 44px 44px; }
  #home .menu-open {
    /*set left 0 to open menu*/
    left: 0; }
  #home .body-push {
    overflow-x: hidden;
    position: relative;
    right: 0; }
  #home .body-push-toright {
    /*push to right*/
    right: 225px; }
  #home .body-push-toleft {
    /*push to left on click*/
    right: 225px; }
  #home .menu, #home .body-push {
    /*menu easing effect*/
    transition: all .3s ease; }
  #home #menuToggle {
    /*menu toggle style*/
    position: absolute;
    top: 20px;
    right: -65px;
    z-index: 11;
    display: block;
    text-align: center;
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border: 1px solid rgba(93, 92, 92, 0.52);
    background: rgba(0, 0, 0, 0.06);
    transition: all .5s ease-in-out; }
    #home #menuToggle:hover {
      /*toggle hover style*/
      background: rgba(0, 0, 0, 0.3);
      transition: all .5s ease-in-out; }
    #home #menuToggle .toggle-normal {
      font-size: 31px; }
      #home #menuToggle .toggle-normal i {
        font-size: 31px;
        padding: 4px;
        color: #1976D2; }
      #home #menuToggle .toggle-normal .top-bar {
        position: absolute;
        right: 0;
        top: -6px;
        transition: .8s; }
      #home #menuToggle .toggle-normal .middle-bar {
        position: absolute;
        right: 0;
        top: 0;
        opacity: 1;
        transition: .8s; }
      #home #menuToggle .toggle-normal .bottom-bar {
        position: absolute;
        right: 0;
        top: 6px;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .8s; }
    #home #menuToggle .top-transform {
      -webkit-transform: rotate(45deg) !important;
      transform: rotate(45deg) !important;
      -webkit-transform-origin: 34% 56%;
      transform-origin: 34% 56%; }
    #home #menuToggle .middle-transform {
      opacity: 0 !important; }
    #home #menuToggle .bottom-transform {
      -webkit-transform: rotate(-45deg) !important;
      transform: rotate(-45deg) !important;
      -webkit-transform-origin: 28% 43%;
      transform-origin: 28% 43%; }
  #home .header-background {
    /*home background*/
    position: relative;
    display: block;
    width: 100%;
    height: 370px;
    background: url(../images/backgrounds/background.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; }